<p>
  {{#if likeCounter}}
    {{likes}}likes

  {{else}}
    {{add-likes likes}}likes
  {{/if}}
</p>
<button {{action changeLikeCounter true}}>lit</button>
<button {{action changeLikeCounter false}}>nah</button>
